# 복지패널 연습

In [9]:
import pandas as pd
import matplotlib as plt
import numpy as np
import pyreadstat

In [34]:
df, meta = pyreadstat.read_sav('d:/song/python_practice/data/welfare/Koweps_p17_2022_beta1.sav')
df.head()

,h17_id,h17_ind,h17_sn,h17_merkey,h_new,h_new1,h17_pind,h17_pid,p17_fnum,p17_tq,...,np1706_36,np1706_37,np1706_38,np1706_39,np1706_40,np1706_41,np1706_42,np1706_43,np1706_44,p1706_3aq1
0,2.0,1.0,1.0,20101.0,0.0,0.0,1.0,201.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,1.0,1.0,30101.0,0.0,0.0,1.0,301.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,1.0,1.0,40101.0,0.0,0.0,1.0,401.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,1.0,1.0,60101.0,0.0,0.0,1.0,601.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,1.0,1.0,60101.0,0.0,0.0,1.0,602.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
meta

In [36]:
df.h10_g3

AttributeError: 'DataFrame' object has no attribute 'h10_g3'