# Train 6 - 인구 데이터 전처리
### 데이터 
- 통계청(kosis) - 인구(시군구) / 인구이동(시군구)
- 년간 데이터 이동

In [1]:
import pandas as pd
import numpy as np

### step1 - 기초

In [41]:
population = pd.read_csv('d:/song/python_practice/train/pop.csv')
df_pop = population.copy()
df_pop.head(10)

,행정구역(시군구)별,2016,2017,2018,2019,2020,2021,2022
0,행정구역(시군구)별,총인구수 (명),총인구수 (명),총인구수 (명),총인구수 (명),총인구수 (명),총인구수 (명),총인구수 (명)
1,전국,51696216,51778544,51826059,51849861,51829023,51638809,51439038
2,서울특별시,9930616,9857426,9765623,9729107,9668465,9509458,9428372
3,종로구,152737,154770,153065,151290,149384,144683,141379
4,중구,125249,125709,125725,126171,125240,122499,120437
5,용산구,230241,229161,228999,228670,230040,222953,218650
6,성동구,299259,304808,308221,300889,293556,285990,281000
7,광진구,357215,357703,355559,351350,346682,339996,337416
8,동대문구,355069,350647,348052,346194,342837,337400,336644
9,중랑구,411005,408226,403209,397015,394702,387350,385318

In [42]:
df_pop.drop(index = [0,1], inplace = True)
df_pop.head(10)

   행정구역(시군구)별     2016     2017     2018     2019     2020     2021     2022
2       서울특별시  9930616  9857426  9765623  9729107  9668465  9509458  9428372
3         종로구   152737   154770   153065   151290   149384   144683   141379
4          중구   125249   125709   125725   126171   125240   122499   120437
5         용산구   230241   229161   228999   228670   230040   222953   218650
6         성동구   299259   304808   308221   300889   293556   285990   281000
7         광진구   357215   357703   355559   351350   346682   339996   337416
8        동대문구   355069   350647   348052   346194   342837   337400   336644
9         중랑구   411005   408226   403209   397015   394702   387350   385318
10        성북구   450355   444055   435868   442650   437153   430528   430397
11        강북구   327195   324479   319164   313954   308055   299182   293660

In [43]:
df_pop.columns = ['name', 'pop_2016', 'pop_2017', 'pop_2018', 'pop_2019',
                         'pop_2020', 'pop_2021', 'pop_2022']
df_pop

        name pop_2016 pop_2017 pop_2018 pop_2019 pop_2020 pop_2021 pop_2022
2      서울특별시  9930616  9857426  9765623  9729107  9668465  9509458  9428372
3        종로구   152737   154770   153065   151290   149384   144683   141379
4         중구   125249   125709   125725   126171   125240   122499   120437
5        용산구   230241   229161   228999   228670   230040   222953   218650
6        성동구   299259   304808   308221   300889   293556   285990   281000
..       ...      ...      ...      ...      ...      ...      ...      ...
289      거창군    63308    62763    62455    62179    61502    61073    60387
290      합천군    48026    47000    45916    45204    44006    42935    42142
291  제주특별자치도   641597   657083   667191   670989   674635   676759   678159
292      제주시   470665   478700   485946   489405   492466   493096   493389
293     서귀포시   170932   178383   181245   181584   182169   183663   184770

[292 rows x 8 columns]

### step2 - 시군구 지역 명칭 정리
- 중구, 남구 등 중복된 명칭이 존재, 이를 해결하기 위해서 
- 시도 + 시군구를 통해서 city2 변수 생성

In [44]:
test = df_pop.apply(lambda x: x['name'] if '특별' in x['name'] 
                    else x['name']  if '북도' in x['name'] 
                    else x['name']  if '남도' in x['name'] 
                    else x['name']  if '광역' in x['name']    
                    else x['name']  if '경기도' in x['name'] 
                    else np.nan, axis = 1)
test.unique()

array(['서울특별시', nan, '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'], dtype=object)

In [45]:
df_pop['sido'] = df_pop.apply(lambda x: x['name'] if '특별' in x['name'] 
                              else x['name']  if '북도' in x['name'] 
                              else x['name']  if '남도' in x['name'] 
                              else x['name']  if '광역' in x['name']    
                              else x['name']  if '경기도' in x['name'] 
                              else np.nan, axis = 1)
df_pop['sido'].ffill(inplace = True)
df_pop

,name,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021,pop_2022,sido
2,서울특별시,9930616,9857426,9765623,9729107,9668465,9509458,9428372,서울특별시
3,종로구,152737,154770,153065,151290,149384,144683,141379,서울특별시
4,중구,125249,125709,125725,126171,125240,122499,120437,서울특별시
5,용산구,230241,229161,228999,228670,230040,222953,218650,서울특별시
6,성동구,299259,304808,308221,300889,293556,285990,281000,서울특별시
...,...,...,...,...,...,...,...,...,...
289,거창군,63308,62763,62455,62179,61502,61073,60387,경상남도
290,합천군,48026,47000,45916,45204,44006,42935,42142,경상남도
291,제주특별자치도,641597,657083,667191,670989,674635,676759,678159,제주특별자치도
292,제주시,470665,478700,485946,489405,492466,493096,493389,제주특별자치도
293,서귀포시,170932,178383,181245,181584,182169,183663,184770,제주특별자치도

In [46]:
# sido 와 name이 같은 경우 시도 전체의 데이터
df_pop['city2'] = df_pop.apply(lambda x: x['sido'] +' '+  x['name'] if x['sido'] != x['name'] else np.nan, axis = 1)
df_pop = df_pop[df_pop['city2'].isna() == False]
df_pop

,name,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021,pop_2022,sido,city2
3,종로구,152737,154770,153065,151290,149384,144683,141379,서울특별시,서울특별시 종로구
4,중구,125249,125709,125725,126171,125240,122499,120437,서울특별시,서울특별시 중구
5,용산구,230241,229161,228999,228670,230040,222953,218650,서울특별시,서울특별시 용산구
6,성동구,299259,304808,308221,300889,293556,285990,281000,서울특별시,서울특별시 성동구
7,광진구,357215,357703,355559,351350,346682,339996,337416,서울특별시,서울특별시 광진구
...,...,...,...,...,...,...,...,...,...,...
288,함양군,40241,40175,40044,39637,39080,38310,37708,경상남도,경상남도 함양군
289,거창군,63308,62763,62455,62179,61502,61073,60387,경상남도,경상남도 거창군
290,합천군,48026,47000,45916,45204,44006,42935,42142,경상남도,경상남도 합천군
292,제주시,470665,478700,485946,489405,492466,493096,493389,제주특별자치도,제주특별자치도 제주시
293,서귀포시,170932,178383,181245,181584,182169,183663,184770,제주특별자치도,제주특별자치도 서귀포시

### step3 - 데이터 정리
- 값이 존재하지 않는 row ( '-' ) 제거 후 전부 숫자행으로 변경
- 인천광역시 남구 -> 인천광역시 미추홀구

In [48]:
df_pop = df_pop.map(lambda x: np.nan if x == '-' else x) #df의 전체를 바꿀땐 map함수로
df_pop = df_pop.apply(lambda x: pd.to_numeric(x, errors='coerce').astype('float'))
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275 entries, 3 to 293
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      0 non-null      float64
 1   pop_2016  261 non-null    float64
 2   pop_2017  261 non-null    float64
 3   pop_2018  261 non-null    float64
 4   pop_2019  261 non-null    float64
 5   pop_2020  274 non-null    float64
 6   pop_2021  261 non-null    float64
 7   pop_2022  274 non-null    float64
 8   sido      0 non-null      float64
 9   city2     0 non-null      float64
dtypes: float64(10)
memory usage: 23.6 KB

In [50]:
df_pop[(df_pop['city2'] == '인천광역시 남구')|(df_pop['city2'] == '인천광역시 미추홀구')].sum(axis = 0, numeric_only=True)

name        0.0
pop_2016    0.0
pop_2017    0.0
pop_2018    0.0
pop_2019    0.0
pop_2020    0.0
pop_2021    0.0
pop_2022    0.0
sido        0.0
city2       0.0
dtype: float64

In [8]:
#df_pop.to_csv('d:/song/python_practice/train/pop_adj.csv')