In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('D:/song/python_practice/0data/train/train.csv')
df = train.copy()
df.head(10)

,company,station,down_on_2016,down_off_2016,down_total_2016,down_kilo_2016,up_on_2016,up_off_2016,up_total_2016,up_kilo_2016,...,on_ktx_2022,on_saemaul_2022,on_mugungwha_2022,on_commute_2022,on_total_2022,off_ktx_2022,off_saemaul_2022,off_mugungwha_2022,off_commute_2022,off_total_2022
0,korail,합계,67536560.0,67536560.0,135073120.0,1.097929e+10,67986857.0,67986857.0,135973714.0,1.118167e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,korail,가평,0.0,1566.0,1566.0,5.199200e+04,2687.0,0.0,2687.0,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,korail,각계,0.0,0.0,0.0,0.000000e+00,475.0,6.0,481.0,6.400000e+02,...,0.0,0.0,372.0,0.0,372.0,0.0,0.0,16.0,0.0,16.0
3,korail,간석,720.0,0.0,720.0,0.000000e+00,0.0,720.0,720.0,7.207200e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,korail,강경,29781.0,114890.0,144671.0,1.522292e+07,114280.0,33367.0,147647.0,6.863592e+06,...,0.0,13357.0,91522.0,0.0,104879.0,0.0,18820.0,86335.0,0.0,105155.0
5,korail,개포,5765.0,3.0,5768.0,2.570000e+02,1.0,146.0,147.0,7.986000e+03,...,0.0,0.0,4176.0,0.0,4176.0,0.0,0.0,2377.0,0.0,2377.0
6,korail,건천,1062.0,2799.0,3861.0,4.232090e+05,1875.0,522.0,2397.0,1.315400e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,korail,검암,131479.0,176.0,131655.0,4.488000e+03,444.0,116016.0,116460.0,3.152155e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,korail,경산,517970.0,603601.0,1121571.0,1.183708e+08,623994.0,509941.0,1133935.0,1.860512e+07,...,56447.0,67482.0,834112.0,0.0,958041.0,51600.0,58460.0,816329.0,0.0,926389.0
9,korail,경주,221810.0,258120.0,479930.0,5.490212e+07,259543.0,240043.0,499586.0,7.705380e+06,...,0.0,0.0,82.0,0.0,82.0,0.0,0.0,82.0,0.0,82.0

In [3]:
df = df[df['station'] != '합계']
df['station'] = df['station'].replace("서대구('22.3.31~)", '서대구')
df

for i in range(2016, 2023):
    df = df[df[f'on_total_{i}'].isna() == False]

In [4]:
# value가 '-'인경우 존재
df.iloc[:,21]

2                          0
4                      21337
5                       6340
8                     494186
9                     211063
               ...
279                    78225
280                     8883
281                    30524
282                     5171
283                        -
Name: down_on_2017, Length: 210, dtype: object

In [5]:
# 열이 object인 경우 
# 빈칸 제거, - -> 0으로
# company, station은 error 발생해서 ...
for i in df.columns[2:]:
    if df[i].dtype == 'O':
        df[i] = df[i].str.strip().replace('-', 0)
    df[i] = pd.to_numeric(df[i], errors='coerce')

In [6]:
df.iloc[:,21]

2           0
4       21337
5        6340
8      494186
9      211063
        ...
279     78225
280      8883
281     30524
282      5171
283         0
Name: down_on_2017, Length: 210, dtype: int64

In [7]:
#  on_total이 1개라도 없는 기차역는 제외
for i in range(2016, 2023):
    df = df[df[f'on_total_{i}'].isna() == False]

df.reset_index(drop = True, inplace = True) # index 다시 붙이기
df

,company,station,down_on_2016,down_off_2016,down_total_2016,down_kilo_2016,up_on_2016,up_off_2016,up_total_2016,up_kilo_2016,...,on_ktx_2022,on_saemaul_2022,on_mugungwha_2022,on_commute_2022,on_total_2022,off_ktx_2022,off_saemaul_2022,off_mugungwha_2022,off_commute_2022,off_total_2022
0,korail,각계,0.0,0.0,0.0,0.0,475.0,6.0,481.0,640.0,...,0.0,0.0,372.0,0.0,372.0,0.0,0.0,16.0,0.0,16.0
1,korail,강경,29781.0,114890.0,144671.0,15222925.0,114280.0,33367.0,147647.0,6863592.0,...,0.0,13357.0,91522.0,0.0,104879.0,0.0,18820.0,86335.0,0.0,105155.0
2,korail,개포,5765.0,3.0,5768.0,257.0,1.0,146.0,147.0,7986.0,...,0.0,0.0,4176.0,0.0,4176.0,0.0,0.0,2377.0,0.0,2377.0
3,korail,경산,517970.0,603601.0,1121571.0,118370810.0,623994.0,509941.0,1133935.0,18605122.0,...,56447.0,67482.0,834112.0,0.0,958041.0,51600.0,58460.0,816329.0,0.0,926389.0
4,korail,경주,221810.0,258120.0,479930.0,54902124.0,259543.0,240043.0,499586.0,7705380.0,...,0.0,0.0,82.0,0.0,82.0,0.0,0.0,82.0,0.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,sr,익산,4668.0,16849.0,21517.0,3315085.0,16087.0,4900.0,20987.0,3446339.0,...,704927.0,NaN,NaN,NaN,704927.0,705056.0,NaN,NaN,NaN,705056.0
206,sr,정읍,606.0,4328.0,4934.0,1005703.0,4972.0,935.0,5907.0,887643.0,...,145286.0,NaN,NaN,NaN,145286.0,137139.0,NaN,NaN,NaN,137139.0
207,sr,광주송정,1767.0,54899.0,56666.0,14964786.0,57699.0,1252.0,58951.0,14410254.0,...,1408257.0,NaN,NaN,NaN,1408257.0,1360297.0,NaN,NaN,NaN,1360297.0
208,sr,나주,325.0,5602.0,5927.0,1726631.0,6121.0,271.0,6392.0,1585089.0,...,152940.0,NaN,NaN,NaN,152940.0,156719.0,NaN,NaN,NaN,156719.0
209,sr,목포,0.0,15065.0,15065.0,4289070.0,14343.0,0.0,14343.0,4370782.0,...,297621.0,NaN,NaN,NaN,297621.0,291976.0,NaN,NaN,NaN,291976.0

In [8]:
# 총 196개의 기차역이 선정됨
df.station.count(), df.station.nunique()

(210, 196)

### korail과 sr 동시 운영기차역 처리방법
- 총 기차역 210 / unique 196
- 총 14개의 기차역이 동시운영됨<br>
->이 부분을 어떻게 처리할까?

In [9]:
dup_station = df['station'].value_counts().to_frame()
dup_station_list = list(dup_station[dup_station['count'] > 1].index)
dup_station_list

['울산',
 '공주',
 '신경주',
 '오송',
 '김천구미',
 '광주송정',
 '목포',
 '동대구',
 '나주',
 '익산',
 '정읍',
 '부산',
 '대전',
 '천안아산']

In [10]:
#컬럼만 있는 데이터 프레임 만들기 
temp = df.iloc[0,].to_frame().T.drop(index = 0)

In [11]:
for i in dup_station_list:
    temp = pd.concat([temp, df[df.station == i].sum(axis = 0).to_frame().T])

In [12]:
temp['company'] = 'total'
temp['station'] = dup_station_list

In [13]:
temp

,company,station,down_on_2016,down_off_2016,down_total_2016,down_kilo_2016,up_on_2016,up_off_2016,up_total_2016,up_kilo_2016,...,on_ktx_2022,on_saemaul_2022,on_mugungwha_2022,on_commute_2022,on_total_2022,off_ktx_2022,off_saemaul_2022,off_mugungwha_2022,off_commute_2022,off_total_2022
0,total,울산,312868.0,432156.0,745024.0,22578817.0,444953.0,311860.0,756813.0,21760340.0,...,2703008.0,0.0,0.0,0.0,2703008.0,2756403.0,0.0,0.0,0.0,2756403.0
0,total,공주,28089.0,43856.0,71945.0,5128340.0,47179.0,29084.0,76263.0,6804620.0,...,146453.0,0.0,0.0,0.0,146453.0,143839.0,0.0,0.0,0.0,143839.0
0,total,신경주,109637.0,707755.0,817392.0,157819244.0,709271.0,113758.0,823029.0,18983610.0,...,1349120.0,0.0,197995.0,0.0,1547115.0,1358364.0,0.0,223486.0,0.0,1581850.0
0,total,오송,890798.0,1561329.0,2452127.0,140153388.0,1689295.0,899484.0,2588779.0,131541510.0,...,4650867.0,0.0,235936.0,0.0,4886803.0,4589729.0,0.0,231247.0,0.0,4820976.0
0,total,김천구미,211791.0,632267.0,844058.0,91700175.0,654348.0,213155.0,867503.0,20929294.0,...,1207777.0,0.0,0.0,0.0,1207777.0,1210657.0,0.0,0.0,0.0,1210657.0
0,total,광주송정,206219.0,2375610.0,2581829.0,569972857.0,2442639.0,211844.0,2654483.0,54549038.0,...,3486069.0,44950.0,191758.0,92967.0,3815744.0,3459423.0,46007.0,205069.0,93650.0,3804149.0
0,total,목포,0.0,961077.0,961077.0,276024755.0,974609.0,0.0,974609.0,4370782.0,...,1062811.0,34021.0,103516.0,0.0,1200348.0,1072384.0,23508.0,110096.0,0.0,1205988.0
0,total,동대구,3051063.0,6729333.0,9780396.0,1177895581.0,6829613.0,3034842.0,9864455.0,246149913.0,...,5667056.0,473494.0,2215870.0,0.0,8356420.0,5750242.0,489914.0,2151574.0,0.0,8391730.0
0,total,나주,36589.0,344151.0,380740.0,66407058.0,347994.0,37373.0,385367.0,6520129.0,...,503489.0,15265.0,51613.0,0.0,570367.0,501397.0,12937.0,51458.0,0.0,565792.0
0,total,익산,857744.0,1586660.0,2444404.0,252564705.0,1615781.0,838171.0,2453952.0,154595184.0,...,2127115.0,249843.0,763525.0,0.0,3140483.0,2107114.0,254653.0,745545.0,0.0,3107312.0
0,total,정읍,87477.0,516967.0,604444.0,84526839.0,524946.0,89361.0,614307.0,18794966.0,...,462648.0,68214.0,135446.0,0.0,666308.0,470807.0,71903.0,126730.0,0.0,669440.0
0,total,부산,9860.0,9452734.0,9462594.0,2506331132.0,9531667.0,9658.0,9541325.0,51508829.0,...,7952265.0,253755.0,1010496.0,0.0,9216516.0,7965903.0,263157.0,1046351.0,0.0,9275411.0
0,total,대전,3412682.0,5168327.0,8581009.0,647023966.0,5256322.0,3423166.0,8679488.0,487674724.0,...,6408515.0,567379.0,1786054.0,0.0,8761948.0,6509607.0,517206.0,1832038.0,0.0,8858851.0
0,total,천안아산,1677709.0,1672399.0,3350108.0,130118619.0,1678646.0,1704273.0,3382919.0,312047075.0,...,4885043.0,0.0,0.0,0.0,4885043.0,4893783.0,0.0,0.0,0.0,4893783.0

In [14]:
# 중복역 리스트에 있는 역 제거 
for i in dup_station_list:
    df = df[df['station'] != i]

In [15]:
# 중복역 계산 데이터 프레임 temp와 중복역이 제거된 df 결합
df = pd.concat([df, temp])
df.drop(columns = 'company', inplace = True)
df

,station,down_on_2016,down_off_2016,down_total_2016,down_kilo_2016,up_on_2016,up_off_2016,up_total_2016,up_kilo_2016,total_2016,...,on_ktx_2022,on_saemaul_2022,on_mugungwha_2022,on_commute_2022,on_total_2022,off_ktx_2022,off_saemaul_2022,off_mugungwha_2022,off_commute_2022,off_total_2022
0,각계,0.0,0.0,0.0,0.0,475.0,6.0,481.0,640.0,481.0,...,0.0,0.0,372.0,0.0,372.0,0.0,0.0,16.0,0.0,16.0
1,강경,29781.0,114890.0,144671.0,15222925.0,114280.0,33367.0,147647.0,6863592.0,292318.0,...,0.0,13357.0,91522.0,0.0,104879.0,0.0,18820.0,86335.0,0.0,105155.0
2,개포,5765.0,3.0,5768.0,257.0,1.0,146.0,147.0,7986.0,5915.0,...,0.0,0.0,4176.0,0.0,4176.0,0.0,0.0,2377.0,0.0,2377.0
3,경산,517970.0,603601.0,1121571.0,118370810.0,623994.0,509941.0,1133935.0,18605122.0,2255506.0,...,56447.0,67482.0,834112.0,0.0,958041.0,51600.0,58460.0,816329.0,0.0,926389.0
4,경주,221810.0,258120.0,479930.0,54902124.0,259543.0,240043.0,499586.0,7705380.0,979516.0,...,0.0,0.0,82.0,0.0,82.0,0.0,0.0,82.0,0.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,익산,857744.0,1586660.0,2444404.0,252564705.0,1615781.0,838171.0,2453952.0,154595184.0,4898355.0,...,2127115.0,249843.0,763525.0,0.0,3140483.0,2107114.0,254653.0,745545.0,0.0,3107312.0
0,정읍,87477.0,516967.0,604444.0,84526839.0,524946.0,89361.0,614307.0,18794966.0,1218751.0,...,462648.0,68214.0,135446.0,0.0,666308.0,470807.0,71903.0,126730.0,0.0,669440.0
0,부산,9860.0,9452734.0,9462594.0,2506331132.0,9531667.0,9658.0,9541325.0,51508829.0,19010930.0,...,7952265.0,253755.0,1010496.0,0.0,9216516.0,7965903.0,263157.0,1046351.0,0.0,9275411.0
0,대전,3412682.0,5168327.0,8581009.0,647023966.0,5256322.0,3423166.0,8679488.0,487674724.0,17260497.0,...,6408515.0,567379.0,1786054.0,0.0,8761948.0,6509607.0,517206.0,1832038.0,0.0,8858851.0
0,천안아산,1677709.0,1672399.0,3350108.0,130118619.0,1678646.0,1704273.0,3382919.0,312047075.0,6733027.0,...,4885043.0,0.0,0.0,0.0,4885043.0,4893783.0,0.0,0.0,0.0,4893783.0

In [16]:
df.to_csv('D:/song/python_practice/0data/train/train.csv')